body {
  background-image: url("../img/wood.jpg");
  background-color: black;
}

.logga {
  margin: 5px;
  background-color: rgba(255, 255, 255, 0.5);
}

/*Ändrar textstorleken på h2*/
h2 {
  font-size: 1.5em;
  color: rgb(231, 231, 231);
}

article {
  border-top: solid rgb(54, 54, 54) 4px;
  border-bottom: solid rgb(54, 54, 54) 4px;
  margin: 20px;
  padding: 10px;
}

p {
  color: rgb(231, 231, 231);
}

.nav1 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.5);
}

.nav1 a {
  text-decoration: none;
  color: white;
}

.r1 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255, 0.35);
  border-radius: 15%;
}

/*Stylar bakgrundsbilden*/
.bakgrundimg {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  z-index: -1;
  width: 900px;
}

.bild1 {
  color: rgb(205, 205, 205);
  overflow: scroll;
}

.bild2 {
  color: rgb(205, 205, 205);
  overflow: scroll;
}

.bild3 {
  color: rgb(205, 205, 205);
  overflow: scroll;
}

.footer {
  color: white;
}

.footer ul {
  text-align: center;
  list-style-type: none;
}

.omoss {
  margin: 30px;
  display: inline;
  color: rgb(232, 232, 232);
}

.container2 img {
  margin-left: 20px;
}

.tillbaka {
  text-decoration: none;
  color: white;
  background-color: rgb(255, 255, 255, 0.35);
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 2px green;
}

.bordbild {
  margin: 0px;
}

@media screen and (max-device-width: 480px) {
  .bild1 {
    font-size: 50px;
  }

  .bild2 {
    font-size: 50px;
  }

  .bild3 {
    font-size: 50px;
  }

  .omoss {
    font-size: 50px;
  }
}